@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans";
  background-image: linear-gradient(hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%));
  min-height: 100vh;
  width: 330px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
a:hover {
  opacity: 0.8;
}
/* svg */
.img-container {
  z-index: 1;
  padding-right: 30px;
  position: absolute;
  top: -108px;
}
.img {
  background-image: url(images/illustration-woman-online-mobile.svg);
  height: 196px;
  width: 266px;
  margin: 0 auto;
}
.img__shadow {
  position: absolute;
  background-image: url(images/bg-pattern-mobile.svg);
  width: 240px;
  height: 104px;
  top: 108px;
  left: 28px;
}
/* card */
.card {
  width: 330px;
  position: relative;
  background-color: white;
  text-align: center;
  word-break: break-word;
  border-radius: 20px;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  margin: 3rem;
  margin-top: 128px;
  box-shadow: 0px 46.4px 80px -30.4px hsl(255deg 52% 35%);
}
.card h1 {
  padding-top: 112px;
  padding-bottom: 1rem;
}
.card article {
  margin-top: 1rem;
  text-align: left;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding-bottom: 1rem;
  cursor: pointer;
}
/* questions */
.question__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  letter-spacing: -0.4px;
  color: hsl(238, 29%, 16%);
  font-weight: 500;
  color: hsl(237, 12%, 33%);
}
.question__title p {
  padding-right: 0.8rem;
}
.question__title:hover p {
  color: hsl(14, 88%, 65%);
}
/* keep title text highlighted on hover of question text*/
/* .question:hover > .question__title p {
  color: hsl(14, 88%, 65%);
} */
.question img {
  width: 10px;
  height: 7px;
}
.question__text {
  margin-top: 0.5rem;
  color: hsl(240, 6%, 50%);
  font-size: 0.8rem;
  padding-right: 1.5rem;
}
/* show / hide text */
.question__text {
  display: none;
}
.show__text .question__text {
  display: block;
}
.show__text .question__title {
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}
.show__text img {
  transform: rotate(180deg);
}
/* footer */
.attribution {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(255deg 52% 35%);
}

/* desktop view */
@media (min-width: 1200px) {
  body {
    width: auto;
  }
  .card {
    width: 900px;
    padding-top: 80px;
    padding-left: 488px;
    padding-right: 88px;
    padding-bottom: 80px;
    margin: 0;
    margin-top: 7rem;
    overflow: hidden;
  }
  .card h1 {
    padding-top: 0px;
    padding-bottom: 1rem;
    text-align: start;
    overflow: hidden;
  }
  .img-container {
    padding-right: 0px;
    position: absolute;
    z-index: 0;
    top: 83px;
    left: -83px;
  }
  .img {
    background-image: url(images/illustration-woman-online-desktop.svg);
    height: 359px;
    width: 472px;
    margin: 0 auto;
    z-index: 0;
  }
  .img__shadow {
    position: absolute;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    width: 908px;
    top: -302px;
    left: -429px;
    height: 875px;
    z-index: -1;
  }
  .img__box-container {
    position: relative;
    left: -543px;
    top: 216px;
    transition: 1s ease-in-out;
  }
  .img__box {
    background-image: url(images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    position: absolute;
    overflow: visible;
    height: 191px;
    width: 184px;
    z-index: 1;
    top: 110px;
  }
  .attribution {
    margin-top: 5rem;
  }
}
